#block {
  padding-left: 285px;
  color: white;
}

.block_avatar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  position: absolute;
  border-radius: 20px;
  width: 700px;
  height: 330px;
}

.block {
  padding: 25px;
  position: relative;
}

.avatar_two {
  display: flex;
  align-items: center;
  gap: 20px;
}

.img {
  position: absolute;
  border-radius: 20px;
}

.block_two {
  position: relative;
}
