* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 95%;
}

.search ::placeholder {
  color: gray;
}

.header {
  padding: 20px 0;
}

.about {
  position: fixed;
}

.header_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header_about {
  display: flex;
  align-items: center;
  width: 1200px;
}
